<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>

    <meta name="description" content="Website description">
    <link rel="canonical" href="">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="#5bbad5">
    <link rel="shortcut icon" href="">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div class="mobile-nav-list">
        <ul>
            <li>
                <a class="navLink" href="/about">About Us</a>
            </li>
            <li>
                <a class="navLink" href="/philosophy">Investment Philosophy</a>
            </li>
            <li>
                <a class="navLink" href="/projects">Projects</a>
            </li>
            <li>
                <a class="navLink" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <header class="section-header section-landing about-section-header aspect-2811">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/monty-logo-white.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/philosophy">Investment Philosophy</a>
                        </li>
                        <li>
                            <a class="navLink" href="/projects">Projects</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <span class="hero-border"></span>
                <h1>About Us</h1>
            </div>

            <div class="aspect-hero">
                <figure class="about-hero">
                    <img src="/images/about-hero.jpg" alt="">
                </figure>
            </div>
        </header>

        <section class="section about-section-one section-one" id="about-section-one">
            <div class="section-content">
                <div class="content-wrapper content-fifth">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textA1">Corporate Overview</span>
                    </span>
                </div>
                <div class="content-wrapper content-fill content-text">
                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textA2">Since 2000, Monty Properties has built a balanced and mature investment portfolio of over 100 high-quality real estate assets spanning across gateway cities in the United States, Hong Kong and China. Our investment-level assets cover the spectrum: commercial properties, residential properties, industrial buildings and land-based real estate.</span>
                    </span>
                </div>
                <div class="content-wrapper content-fill content-text">
                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textA3">As a proud member of the Monty Group. we benefit from over 60 years worth of investment knowledge and trusted connections from across the globe. With an Asian headquarters and international perspective, Monty Properties is advantageously positioned in one of the fastest growing markets in the world.</span>
                    </span>
                </div>
            </div>
        </section>

        <section class="section about-section-two" id="trigger-two">
            <div class="section-content">
                <div class="content-wrapper content-media aspect-ratio-box">
                    <div class="media-content" id="mediaB1">
                        <span class="media-overlay"></span>
                        <figure class="aspect-image media">
                            <img src="/images/monty-properties-1.jpg" alt="">
                        </figure>
                    </div>
                </div>

                <div class="content-wrapper content-fill content-text centered">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textB2">Our Vision</span>
                    </span>

                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textB3">To maximise sustainable and long-term value to your real estate portfolio through our first-class investment and asset manager.</span>
                    </span>
                </div>
            </div>
        </section>

        <section class="section about-section-three" id="trigger-three">
            <div class="section-content wrapping-content">
                <div class="content-wrapper content-fill-100">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textB2">Our Exceptionalism</span>
                    </span>
                </div>

                <div class="content-wrapper content-fill-100 overlap-container">
                    <div class="content-wrapper content-media aspect-ratio-box">
                        <div class="media-content" id="mediaB1">
                            <span class="media-overlay"></span>
                            <div class="carousel-wrapper media" id="about-media-carousel">
                                <div class="carousel-slide">
                                    <figure class="aspect-image">
                                        <img src="/images/monty-properties-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="carousel-slide">
                                    <figure class="aspect-image">
                                        <img src="/images/monty-properties-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="carousel-slide">
                                    <figure class="aspect-image">
                                        <img src="/images/monty-properties-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="carousel-slide">
                                    <figure class="aspect-image">
                                        <img src="/images/monty-properties-2.jpg" alt="">
                                    </figure>
                                </div>
                            </div>

                            <span class="monty-link-chevron nextSlide" id="nextSlide" data-message="next">
                                <span class="chevron-wrapper">
                                    <span class="chevron"></span>
                                </span>
                            </span>
                        </div>

                    </div>

                    <div class="overlap-content">
                        <div class="carousel-wrapper context" id="about-context-carousel">
                            <div class="carousel-slide">
                                <div class="carousel-context">
                                    <span class="context-number">1</span>
                                    <span class="context-header">Global Astuteness, Local Expertise</span>
                                    <span class="context-body">Monty Properties has in-depth knowledge of underlying economic foundations and cycles. This insight, along with our in-house real estate professionals and trusted network of local experts, allows us to predict and ensure sustainable, long-term growth.</span>
                                </div>
                            </div>
                            <div class="carousel-slide">
                                <div class="carousel-context">
                                    <span class="context-number">2</span>
                                    <span class="context-header">Anticipate Change for Sustainable Growth</span>
                                    <span class="context-body">We know the next decade will not be like the last, and we relish the challenge. Monty Properties prides itself on its acute ability to anticipate change and stay ahead of the curve. Through diverse asset classes and strategic long-term partnerships, we're able to identify and access the best investment opportunities for our clients.</span>
                                </div>
                            </div>
                            <div class="carousel-slide">
                                <div class="carousel-context">
                                    <span class="context-number">3</span>
                                    <span class="context-header">Seize and Maximise Value</span>
                                    <span class="context-body">As a member of an established multinational company, Monty Properties can afford to resist quick-fixes and short-term returns. We wait for the ideal moment to invest - and nothing less.

                                    Monty Properties inherits the value of close-knit teams and minimal bureaucracy from Monty Group's start in 1947 as a small family business. As such, our asset-focused specialists can proactively identify worthy investments and act decisively for the highest growth potential.</span>
                                </div>
                            </div>
                            <div class="carousel-slide">
                                <div class="carousel-context">
                                    <span class="context-number">4</span>
                                    <span class="context-header">Valued, Professional Partnerships</span>
                                    <span class="context-body">With over 60 years of respected investments and operations across a multitude of industries, the Monty Group embraces accountability. This extends to identifying prudent yet creative investment opportunities for our valued partners, as well as ensuring a smooth sales process and offering due diligence on site.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section about-section-four" id="trigger-four">
            <div class="section-content">
                <div class="content-wrapper content-fill content-even">

                    <a href="/projects" class="content-anchor-block" id="projects-anchor">
                        <figure>
                            <img src="/images/contact-hero.jpg" alt="">
                        </figure>

                        <div class="content-inner">
                            <span class="outer-wrapper body-content">
                                <span class="body-header body-content">Our Projects</span>
                            </span>

                            <span class="monty-link">
                                <span class="monty-link-text">View All</span>
                                <span class="monty-link-chevron">
                                    <span class="chevron-wrapper">
                                        <span class="chevron"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                    <a href="/contact" class="content-anchor-block" id="contact-anchor">
                        <figure>
                            <img src="/images/monty-map.jpg" alt="">
                        </figure>

                        <div class="content-inner">
                            <span class="outer-wrapper body-content">
                                <span class="body-header body-content">Contact Us</span>
                            </span>

                            <span class="monty-link blue">
                                <span class="monty-link-text">Reach Us</span>
                                <span class="monty-link-chevron">
                                    <span class="chevron-wrapper">
                                        <span class="chevron"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="sideways-scrollhint blue" id="footer-sideways">
                <span class="scrollhint-underline"></span>
                <div class="scrollhint-content">
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron right"></span>
                        </span>
                    </span>

                    <span class="monty-link-text">back to top</span>
                </div>
            </div>

            <div class="section-content">
                <div class="footer-left">
                    <a href="" class="footer-social" id="linkedin"><img src="/images/linkedin-logo.png" alt=""></a>
                    <p>2019 copyright Monty Group Limited</p>
                </div>

                <div class="footer-right">
                    <ul class="footer-nav">
                        <li><a href="/about" class="navLink">About Us</a></li>
                        <li><a href="/philosophy" class="navLink">Investment Philosophy</a></li>
                        <li><a href="/projects" class="navLink">Projects</a></li>
                        <li><a href="/contact" class="navLink">Contact Us</a></li>
                        <li><a href="/" class="navLink"><img src="/images/monty-logo-blue.svg" class="footer-logo" alt="Monty Properties"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</body>
</html>
