<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>

    <meta name="description" content="Website description">
    <link rel="canonical" href="">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="#5bbad5">
    <link rel="shortcut icon" href="">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div class="wrapper">
        <header class="section-header section-landing aspect-2811">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/monty-logo.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/philosophy">Investment Philosophy</a>
                        </li>
                        <li>
                            <a class="navLink" href="/projects">Projects</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="hero-content">
                <h1>About Us</h1>
            </div>

            <div class="aspect-hero"></div>
        </header>

        <section class="section home-section-one">
            <div class="section-content">
                <div class="content-wrapper content-fifth">
                    <h2>Corporate Overview</h2>
                </div>
                <div class="content-wrapper content-fill">
                    <p class="body-text">Since 2000, Monty Properties has built a balanced and mature investment portfolio of over 100 high-quality real estate assets spanning across the United States, Hong Kong and China. Our investment-level assets cover the spectrum: commercial properties, residential properties, industrial buildings, and land-based real estate.</p>
                </div>
                <div class="content-wrapper content-fill">
                    <p class="body-text">As a proud member of the Monty Group, we benefit from over 60 years worth of investment knowledge and trusted connections from across the globe. With an Asian headquarters and international perspective, Monty Properties is advantageously positioned in one of the fastest growing markets in the world.</p>
                </div>
            </div>
        </section>

        <section class="section home-section-two">
            <div class="section-content">
                <div class="content-wrapper aspect-ratio-box"></div>

                <div class="content-wrapper content-fill centered">
                    <h2>Our Vision</h2>

                    <p class="body-text">To maximise sustainable and long-term value to your real estate portfolio through our first-class investment and asset manager.</p>
                </div>
            </div>
        </section>

        <section class="section home-section-three">
            <div class="section-content">

            </div>
        </section>

        <section class="section home-section-four">
            <div class="section-content">

            </div>
        </section>

        <footer class="section-footer">
            <div class="section-content">
                <ul class="footer-nav">
                    <li><a href="/about" class="navLink">About Us</a></li>
                    <li><a href="/philosophy" class="navLink">Investment Philosophy</a></li>
                    <li><a href="/projects" class="navLink">Projects</a></li>
                    <li><a href="/contact" class="navLink">Contact Us</a></li>
                    <li><a href="/" class="navLink">Monty</li>
                </ul>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</body>
</html>
