<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>

    <meta name="description" content="Website description">
    <link rel="canonical" href="">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="#5bbad5">
    <link rel="shortcut icon" href="">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div class="mobile-nav-list">
        <ul>
            <li>
                <a class="navLink" href="/about">About Us</a>
            </li>
            <li>
                <a class="navLink" href="/philosophy">Investment Philosophy</a>
            </li>
            <li>
                <a class="navLink" href="/projects">Projects</a>
            </li>
            <li>
                <a class="navLink" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <header class="section-header section-landing contact-section-header aspect-2811">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/monty-logo-white.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/philosophy">Investment Philosophy</a>
                        </li>
                        <li>
                            <a class="navLink" href="/projects">Projects</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <span class="hero-border"></span>
                <h1>Contact Us</h1>
            </div>

            <div class="aspect-hero">
                <figure class="contact-hero">
                    <img src="/images/contact-hero.jpg" alt="">
                </figure>
            </div>
        </header>

        <section class="section contact-section-one" id="trigger-one">
            <div class="section-content">
                <div class="content-wrapper content-fill content-text centered">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textB2">Get In Touch</span>
                    </span>

                    <span class="outer-wrapper body-content medium-spacing">
                        <span class="body-text body-content big-spacing" id="textB3">Please contact Monty Properties if you have any enquiries.</span>
                    </span>

                    <span class="outer-wrapper body-content mobile-address">
                        <span class="body-text body-content">Enterprise Square,</span>
                        <span class="body-text body-content">9 Sheung Yuet Rd, Kowloon Bay</span>
                    </span>

                    <span class="outer-wrapper body-content heading-content">
                        <span class="body-subheader body-content">General Enquiries</span>
                    </span>

                    <span class="outer-wrapper body-content large-spacing">
                        <span class="body-text body-content mobile-hide">Enterprise Square,</span>
                        <span class="body-text body-content mobile-hide">9 Sheung Yuet Rd, Kowloon Bay</span>
                        <span class="body-text body-content link-content">info@montyproperties.com</span>
                    </span>

                    <span class="outer-wrapper body-content heading-content">
                        <span class="body-subheader body-content">Leasing Enquiries</span>
                    </span>

                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content mobile-hide">Enterprise Square,</span>
                        <span class="body-text body-content mobile-hide">9 Sheung Yuet Rd, Kowloon Bay</span>
                        <span class="body-text body-content link-content">leasing@montyproperties.com</span>
                    </span>
                </div>

                <div class="content-wrapper content-media aspect-ratio-box">
                    <div class="media-content" id="mediaB1">
                        <span class="media-overlay"></span>
                        <figure class="aspect-image media">
                            <img src="/images/monty-map.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="sideways-scrollhint blue" id="footer-sideways">
                <span class="scrollhint-underline"></span>
                <div class="scrollhint-content">
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron right"></span>
                        </span>
                    </span>

                    <span class="monty-link-text">back to top</span>
                </div>
            </div>

            <div class="section-content">
                <div class="footer-left">
                    <a href="" class="footer-social" id="linkedin"><img src="/images/linkedin-logo.png" alt=""></a>
                    <p>2019 copyright Monty Group Limited</p>
                </div>

                <div class="footer-right">
                    <ul class="footer-nav">
                        <li><a href="/about" class="navLink">About Us</a></li>
                        <li><a href="/philosophy" class="navLink">Investment Philosophy</a></li>
                        <li><a href="/projects" class="navLink">Projects</a></li>
                        <li><a href="/contact" class="navLink">Contact Us</a></li>
                        <li><a href="/" class="navLink"><img src="/images/monty-logo-blue.svg" class="footer-logo" alt="Monty Properties"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</body>
</html>
