<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exceptional properties with long-term, previously untapped value | Monty Properties</title>

    <meta name="description" content="Website description">
    <link rel="canonical" href="">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="#5bbad5">
    <link rel="shortcut icon" href="">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div class="mobile-nav-list">
        <ul>
            <li>
                <a class="navLink" href="/about">About Us</a>
            </li>
            <li>
                <a class="navLink" href="/philosophy">Investment Philosophy</a>
            </li>
            <li>
                <a class="navLink" href="/projects">Projects</a>
            </li>
            <li>
                <a class="navLink" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <header class="section-header section-landing home-section-header aspect-5625">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/icons/monty-logo-white.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" data-hover-text="About Us" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="Investment Philosophy" href="/philosophy">Investment Philosophy</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="Projects" href="/projects">Projects</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="Contact Us" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <span class="hero-border"></span>
                <h1>Identifying and acquiring exceptional properties with long-term, previously untapped value</h1>

                <a href="/about" class="monty-link" id="anchorL1">
                    <span class="monty-link-text">Learn More</span>
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron"></span>
                        </span>
                    </span>
                </a>
            </div>

            <div class="sideways-scrollhint" id="header-sideways">
                <span class="scrollhint-underline"></span>
                <div class="scrollhint-content">
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron left"></span>
                        </span>
                    </span>

                    <span class="monty-link-text">scroll down</span>
                </div>
            </div>

            <div class="aspect-hero">
                <figure class="home-hero">
                    <img src="/images/home-hero.jpg" alt="">
                </figure>
            </div>
        </header>

        <section class="section home-section-one section-one" id="home-section-one">
            <div class="section-content">
                <div class="content-wrapper content-fifth">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textA1">Monty Properties</span>
                    </span>

                    <a href="/about" class="monty-link blue" id="anchorA4">
                        <span class="monty-link-text">Learn More</span>
                        <span class="monty-link-chevron">
                            <span class="chevron-wrapper">
                                <span class="chevron"></span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="content-wrapper content-fill content-text">
                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textA2">Since 2000, Monty Properties has built a balanced and mature investment portfolio of over 100 high-quality real estate assets spanning across the United States, Hong Kong and China. Our investment-level assets cover the spectrum: commercial properties, residential properties, industrial buildings and land-based real estate.</span>
                    </span>
                </div>
                <div class="content-wrapper content-fill content-text">
                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textA3">As a proud member of the Monty Group. we benefit from over 60 years worth of investment knowledge and trusted connections from across the globe. With an Asian headquarters and international perspective, Monty Properties is advantageously positioned in one of the fastest growing markets in the world.</span>
                    </span>
                </div>
            </div>
        </section>

        <section class="section home-section-two" id="trigger-two">
            <div class="section-content">
                <div class="content-wrapper content-media aspect-ratio-box">
                    <div class="media-content" id="mediaB1">
                        <span class="media-overlay"></span>
                        <figure class="aspect-image media">
                            <img src="/images/monty-properties-1.jpg" alt="">
                        </figure>
                    </div>
                </div>

                <div class="content-wrapper content-fill content-text centered">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textB2">Investment Philosophy</span>
                    </span>

                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textB3">Monty Properties’ success lies in our astute ability to anticipate economic cycles in order to identify the best investment opportunities. Once the property is acquired, we employ industry-best standards to ensure the asset reaps long-term growth and offers sustainable value.</span>
                    </span>

                    <a href="/philosophy" class="monty-link blue" id="anchorB4">
                        <span class="monty-link-text">Learn More</span>
                        <span class="monty-link-chevron">
                            <span class="chevron-wrapper">
                                <span class="chevron"></span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </section>

        <section class="section home-section-three" id="trigger-three">
            <div class="section-content">
                <div class="content-wrapper content-fill content-text centered">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textC2">Our Projects</span>
                    </span>

                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textC3">Our diverse portfolio spans gateway cities in the United States, Hong Kong and China for high-quality cash flow generation.</span>
                    </span>

                    <a href="/projects" class="monty-link blue" id="anchorC4">
                        <span class="monty-link-text">Learn More</span>
                        <span class="monty-link-chevron">
                            <span class="chevron-wrapper">
                                <span class="chevron"></span>
                            </span>
                        </span>
                    </a>
                </div>

                <div class="content-wrapper content-media aspect-ratio-box">
                    <div class="media-content" id="mediaC1">
                        <span class="media-overlay"></span>
                        <div class="carousel-wrapper media" id="home-carousel">
                            <div class="carousel-slide">
                                <span class="carousel-caption">106 W 56 Street<br>New York</span>
                                <figure class="aspect-image">
                                    <img src="/images/monty-properties-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="carousel-slide">
                                <span class="carousel-caption">434 S 23 Street<br>San Francisco</span>
                                <figure class="aspect-image">
                                    <img src="/images/monty-properties-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="carousel-slide">
                                <span class="carousel-caption">224 N 11 Street<br>Austin</span>
                                <figure class="aspect-image">
                                    <img src="/images/monty-properties-1.jpg" alt="">
                                </figure>
                            </div>
                        </div>

                        <span class="monty-link-chevron nextSlide" id="nextSlide" data-message="next">
                            <span class="chevron-wrapper">
                                <span class="chevron"></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="section home-section-four" id="home-section-four">
            <div class="section-content">
                <div class="content-wrapper content-media aspect-ratio-box">
                    <div class="media-content" id="mediaD1">
                        <span class="media-overlay"></span>
                        <figure class="aspect-image media">
                            <img src="/images/monty-map.jpg" alt="">
                        </figure>
                    </div>
                </div>

                <div class="content-wrapper content-fill content-text centered">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textD2">Get In Touch</span>
                    </span>

                    <span class="outer-wrapper body-content">
                        <span class="body-text body-content" id="textD3">We have a dedicated team at Monty Properties to handle all leasing enquiries, as well as other enquiries.</span>
                    </span>

                    <a href="/contact" class="monty-link blue" id="anchorD4">
                        <span class="monty-link-text">Contact Us</span>
                        <span class="monty-link-chevron">
                            <span class="chevron-wrapper">
                                <span class="chevron"></span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="sideways-scrollhint blue" id="footer-sideways">
                <span class="scrollhint-underline"></span>
                <div class="scrollhint-content">
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron right"></span>
                        </span>
                    </span>

                    <span class="monty-link-text">back to top</span>
                </div>
            </div>

            <div class="section-content">
                <div class="footer-left">
                    <a href="" class="footer-social" id="linkedin"><img src="/images/linkedin-logo.png" alt=""></a>
                    <p>2019 copyright Monty Group Limited</p>
                </div>

                <div class="footer-right">
                    <ul class="footer-nav">
                        <li><a href="/about" class="navLink">About Us</a></li>
                        <li><a href="/philosophy" class="navLink">Investment Philosophy</a></li>
                        <li><a href="/projects" class="navLink">Projects</a></li>
                        <li><a href="/contact" class="navLink">Contact Us</a></li>
                        <li><a href="/" class="navLink"><img src="/images/icons/monty-logo-blue.svg" class="footer-logo" alt="Monty Properties"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</body>
</html>
