<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <meta name="description" content="">
    <link rel="canonical" href="">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="">
    <link rel="shortcut icon" href="">
    <meta name="msapplication-TileColor" content="">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="wrapper">
        <header class="section-header section-landing projects-section-header aspect-2811">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/icons/monty-logo-white.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/philosophy">Investment Philosophy</a>
                        </li>
                        <li>
                            <a class="navLink" href="/projects">Projects</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <span class="hero-border"></span>
                <h1>Our Projects</h1>
            </div>

            <div class="aspect-hero">
                <figure class="projects-hero">
                    <img src="/images/contact-hero.jpg" alt="">
                </figure>
            </div>
        </header>

        <section class="section projects-section-one" id="trigger-one">
            <div class="section-content">
                <div class="content-wrapper content-fill content-text">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content">Our Projects</span>
                        <span class="body-text body-content" id="textA1">Our diverse portfolio spans gateway cities in the United States, Hong Kong and China for high-quality cash flow generation. We have been involved in the acquisition, disposal and administration of investment class properties for almost 20 years, ensuring success through risk mitigation, proactive asset management and employment of industry-best standards. Reflective of our expertise, our YTD weighted portfolio has achieved a return of over tenfold.</span>
                    </span>
                </div>
            </div>
        </section>

        <section class="section projects-section-two" id="trigger-two">
            <div class="section-content block-content">
                <div class="content-wrapper content-fill-100">

                    <div class="project-wrapper">
                        <div class="project-header">
                            <span class="project-title">106 West 56 Street,<br>New York</span>
                            <span class="project-location">
                                <img src="/images/icons/pin-icon.svg" alt="">
                                United States
                            </span>
                            <span class="project-type">
                                <img src="/images/icons/office-icon.svg" alt="">
                                Commercial - Office
                            </span>
                        </div>

                        <div class="project-contents content-wrapper content-media">
                            <div class="media-content" id="mediaC1">
                                <div class="project-details">
                                    <span class="outer-wrapper body-content">
                                        <span class="body-text body-content" id="textA">The Project is a boutique office building in Manhattan's most prominent office corridor on 56th street and developed by one of the best-in-class US developers, Savanna.</span>
                                    </span>

                                    <span class="monty-link blue modal-control" id="project1-more" data-target="modal-1" data-message="more">
                                        <span class="monty-link-text">Learn More</span>
                                        <span class="monty-link-chevron">
                                            <span class="chevron-wrapper">
                                                <span class="chevron"></span>
                                            </span>
                                        </span>
                                    </span>
                                </div>

                                <span class="media-overlay"></span>
                                <div class="carousel-wrapper media">

                                    <div class="carousel-more-modal" id="modal-1">
                                        <p class="carousel-more-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod beatae minima veniam qui distinctio praesentium voluptate, earum repellat fugiat explicabo, nostrum ea iure, nam nisi, asperiores libero aspernatur tempore dolorum.
                                            <br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit neque quis praesentium, necessitatibus, assumenda aliquid possimus accusantium consequatur eveniet amet consequuntur alias similique omnis repellendus provident ducimus cum in.
                                            <br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis atque, sint, itaque in ea nemo reprehenderit voluptatem et, alias consectetur perspiciatis, aliquam similique! Sequi vel rem, veritatis deserunt, quia itaque.
                                        </p>
                                        <span class="monty-link modal-control" id="project1-less" data-target="modal-1" data-message="less">
                                            <span class="monty-link-chevron">
                                                <span class="chevron-wrapper">
                                                    <span class="chevron left"></span>
                                                </span>
                                            </span>

                                            <span class="monty-link-text">Back</span>
                                        </span>
                                    </div>

                                    <div class="carousel-init-wrapper" id="project-carousel1">
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/monty-properties-1.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/monty-properties-2.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/monty-properties-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->

                    <div class="project-wrapper">
                        <div class="project-header">
                            <span class="project-title">106 West 56 Street,<br>New York</span>
                            <span class="project-location">
                                <img src="/images/icons/pin-icon.svg" alt="">
                                United States
                            </span>
                            <span class="project-type">
                                <img src="/images/icons/office-icon.svg" alt="">
                                Commercial - Office
                            </span>
                        </div>

                        <div class="project-contents content-wrapper content-media">
                            <div class="media-content" id="mediaC1">
                                <div class="project-details">
                                    <span class="outer-wrapper body-content">
                                        <span class="body-text body-content" id="textA">The Project is a boutique office building in Manhattan's most prominent office corridor on 56th street and developed by one of the best-in-class US developers, Savanna.</span>
                                    </span>

                                    <span class="monty-link blue modal-control" id="project2-more" data-target="modal-2" data-message="more">
                                        <span class="monty-link-text">Learn More</span>
                                        <span class="monty-link-chevron">
                                            <span class="chevron-wrapper">
                                                <span class="chevron"></span>
                                            </span>
                                        </span>
                                    </span>
                                </div>

                                <span class="media-overlay"></span>
                                <div class="carousel-wrapper media">

                                    <div class="carousel-more-modal" id="modal-2">
                                        <p class="carousel-more-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod beatae minima veniam qui distinctio praesentium voluptate, earum repellat fugiat explicabo, nostrum ea iure, nam nisi, asperiores libero aspernatur tempore dolorum.
                                            <br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit neque quis praesentium, necessitatibus, assumenda aliquid possimus accusantium consequatur eveniet amet consequuntur alias similique omnis repellendus provident ducimus cum in.
                                            <br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis atque, sint, itaque in ea nemo reprehenderit voluptatem et, alias consectetur perspiciatis, aliquam similique! Sequi vel rem, veritatis deserunt, quia itaque.
                                        </p>
                                        <span class="monty-link modal-control" id="project2-less" data-target="modal-2" data-message="less">
                                            <span class="monty-link-chevron">
                                                <span class="chevron-wrapper">
                                                    <span class="chevron left"></span>
                                                </span>
                                            </span>

                                            <span class="monty-link-text">Back</span>
                                        </span>
                                    </div>

                                    <div class="carousel-init-wrapper" id="project-carousel2">
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/monty-properties-1.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/monty-properties-2.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/monty-properties-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->

                </div>
            </div>
        </section>

        <section class="section projects-section-three" id="trigger-three">
            <div class="section-content">
                <div class="content-wrapper content-fill content-even">

                    <a href="/projects" class="content-anchor-block" id="projects-anchor">
                        <figure>
                            <img src="/images/contact-hero.jpg" alt="">
                        </figure>

                        <div class="content-inner">
                            <span class="outer-wrapper body-content">
                                <span class="body-header body-content">Our Projects</span>
                            </span>

                            <span class="monty-link">
                                <span class="monty-link-text">View All</span>
                                <span class="monty-link-chevron">
                                    <span class="chevron-wrapper">
                                        <span class="chevron"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                    <a href="/contact" class="content-anchor-block" id="contact-anchor">
                        <figure>
                            <img src="/images/monty-map.jpg" alt="">
                        </figure>

                        <div class="content-inner">
                            <span class="outer-wrapper body-content">
                                <span class="body-header body-content">Contact Us</span>
                            </span>

                            <span class="monty-link blue">
                                <span class="monty-link-text">Reach Us</span>
                                <span class="monty-link-chevron">
                                    <span class="chevron-wrapper">
                                        <span class="chevron"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="sideways-scrollhint blue" id="footer-sideways">
                <span class="scrollhint-underline"></span>
                <div class="scrollhint-content">
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron right"></span>
                        </span>
                    </span>

                    <span class="monty-link-text">back to top</span>
                </div>
            </div>

            <div class="section-content">
                <div class="footer-left">
                    <a href="" class="footer-social" id="linkedin"><img src="/images/linkedin-logo.png" alt=""></a>
                    <p>2019 copyright Monty Group Limited</p>
                </div>

                <div class="footer-right">
                    <ul class="footer-nav">
                        <li><a href="/about" class="navLink">About Us</a></li>
                        <li><a href="/philosophy" class="navLink">Investment Philosophy</a></li>
                        <li><a href="/projects" class="navLink">Projects</a></li>
                        <li><a href="/contact" class="navLink">Contact Us</a></li>
                        <li><a href="/" class="navLink"><img src="/images/icons/monty-logo-blue.svg" class="footer-logo" alt="Monty Properties"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

</body>
</html>
