<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <meta name="description" content="">
    <link rel="canonical" href="">
    <link rel="shortcut icon" type="image/png" href=""/>

    <meta property="og:locale" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="">
    <link rel="shortcut icon" href="">
    <meta name="msapplication-TileColor" content="">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="wrapper">
        <header class="section-header section-landing projects-section-header aspect-2811">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/icons/monty-logo-white.svg" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li class="mobile-link">
                            <a class="navLink" data-hover-text="Home" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="About Us" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="Investment Philosophy" href="/philosophy">Investment Philosophy</a>
                        </li>
                        <li class="current">
                            <a class="navLink" data-hover-text="Projects" href="/projects">Projects</a>
                        </li>
                        <li>
                            <a class="navLink" data-hover-text="Contact Us" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <button class="hamburger hamburger--elastic">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>

            <div class="hero-content">
                <span class="hero-border"></span>
                <h1>Our Projects</h1>
            </div>

            <div class="aspect-hero">
                <figure class="projects-hero">
                    <img src="/images/home-hero.jpg" alt="">
                </figure>
            </div>
        </header>

        <section class="section projects-section-one">
            <div class="section-content">
                <div class="content-wrapper content-fill content-text">
                    <span class="outer-wrapper body-content">
                        <span class="body-header body-content" id="textA1">Our Projects</span>
                        <span class="body-text body-content" id="textA2">Our diverse portfolio, spanning gateway cities in the United States, Hong Kong, and China generates high-quality and durable cash flow We have been involved in the acquisition, disposal and administration of investment class properties for almost 20 years, ensuring success through risk mitigation, proactive asset management and employment of industry-best standards. Reflective of our expertise, our YTD weighted portfolio has achieved a return of over tenfold.</span>
                    </span>
                </div>
            </div>
        </section>

        <section class="section projects-section-two">
            <div class="section-content block-content">
                <div class="content-wrapper content-fill-100">

                    <div class="projects-intro">
                        <h2>Showcase Projects</h2>
                    </div>

                    <div class="project-wrapper" id="project-wrapper-1">
                        <div class="project-header" id="textB1">
                            <span class="outer-wrapper body-content project-title">
                                <span class="body-text body-content">
                                    106 West 56 Street,<br>New York
                                </span>
                            </span>
                            <span class="outer-wrapper body-content project-location">
                                <span class="body-text body-content">
                                    <img src="/images/icons/pin-icon.svg" alt="">
                                    United States
                                </span>
                            </span>
                            <span class="outer-wrapper body-content project-type">
                                <span class="body-text body-content">
                                    <img src="/images/icons/office-icon.svg" alt="">
                                    Commercial - Office
                                </span>
                            </span>
                        </div>

                        <div class="project-contents content-wrapper content-media">
                            <div class="media-content" id="mediaB2">
                                <div class="project-details">
                                    <span class="outer-wrapper body-content">
                                        <span class="body-text body-content" id="textB3">The Project is a boutique office building in Manhattan’s most prominent office corridor on 56th Street and developed by one of the best-in-class US developers, Savanna.</span>
                                    </span>

                                    <span class="monty-link blue modal-control" id="anchorB4" data-target="modal-1" data-message="more">
                                        <span class="monty-link-text">Learn More</span>
                                        <span class="monty-link-chevron">
                                            <span class="chevron-wrapper">
                                                <span class="chevron"></span>
                                            </span>
                                        </span>
                                    </span>
                                </div>

                                <span class="media-overlay"></span>
                                <div class="carousel-wrapper media">

                                    <div class="carousel-more-modal" id="modal-1">
                                        <p class="carousel-more-text">
                                            The Project is located in one of the only remaining sites in Midtown Manhattan that can be
                                            redeveloped, given most sites in the area are either fully developed or landmarked, which precludes repositioning or demolition. The corridor between 57th to 50th Street, bounded by 6th Avenue and Park Avenue is considered the most prestigious office address, with majority of hedge funds, private equity firms and family offices seeking space in this area.
                                            <br><br>
                                            The Project is expected to complete and operate in Q2 Year 2020.
                                            <br><br>
                                            By investing into a vehicle sponsored by Atom Assets and joint venture with Savanna, this Project demonstrates Monty’s capability to identify and invest high quality assets in global gateway cities such as New York.
                                        </p>
                                        <span class="monty-link modal-control" id="project1-less" data-target="modal-1" data-message="less">
                                            <span class="monty-link-chevron">
                                                <span class="chevron-wrapper">
                                                    <span class="chevron left"></span>
                                                </span>
                                            </span>

                                            <span class="monty-link-text">Back</span>
                                        </span>
                                    </div>

                                    <div class="carousel-init-wrapper" id="project-carousel1">
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY1.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY2.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY3.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY4.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY5.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY6.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/NY7.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->

                    <div class="project-wrapper" id="project-wrapper-2">
                        <div class="project-header" id="textC1">
                            <span class="outer-wrapper body-content project-title">
                                <span class="body-text body-content">
                                    Enterprise Square,<br>Kowloon
                                </span>
                            </span>
                            <span class="outer-wrapper body-content project-location">
                                <span class="body-text body-content">
                                    <img src="/images/icons/pin-icon.svg" alt="">
                                    Hong kong
                                </span>
                            </span>
                            <span class="outer-wrapper body-content project-type">
                                <span class="body-text body-content">
                                    <img src="/images/icons/office-icon.svg" alt="">
                                    Commercial - Office
                                </span>
                            </span>
                        </div>

                        <div class="project-contents content-wrapper content-media">
                            <div class="media-content" id="mediaC2">
                                <div class="project-details">
                                    <span class="outer-wrapper body-content">
                                        <span class="body-text body-content" id="textC3">The Project is a Grade A office building located in the heart of Kowloon Bay, which is the core district of Kowloon East, another premier CBD of Hong Kong to support its economic growth and strengthen its global competitiveness.</span>
                                    </span>

                                    <span class="monty-link blue modal-control" id="anchorC4" data-target="modal-2" data-message="more">
                                        <span class="monty-link-text">Learn More</span>
                                        <span class="monty-link-chevron">
                                            <span class="chevron-wrapper">
                                                <span class="chevron"></span>
                                            </span>
                                        </span>
                                    </span>
                                </div>

                                <span class="media-overlay"></span>
                                <div class="carousel-wrapper media">

                                    <div class="carousel-more-modal" id="modal-2">
                                        <p class="carousel-more-text">
                                            The Project enjoys excellent proximity to the Kowloon Bay MTR Station and spectacular views of the Victoria Harbour , Cruise Terminal and Zero Carbon Park view.
                                            <br><br>
                                            We acquired one floor in this Project in Year 2006 for both head-quarter use and leasing for investment use,
                                            prior to the policy address announced by the Hong Kong Government of its plan to develop Kowloon East as Hong Kong’s second CBD.
                                            <br><br>
                                            By direct acquisition of this Project, it demonstrates Monty’s capability to foresee the changing  demographic of the area to enjoy the potential project upside with maturity of the location.
                                        </p>
                                        <span class="monty-link modal-control" id="project2-less" data-target="modal-2" data-message="less">
                                            <span class="monty-link-chevron">
                                                <span class="chevron-wrapper">
                                                    <span class="chevron left"></span>
                                                </span>
                                            </span>

                                            <span class="monty-link-text">Back</span>
                                        </span>
                                    </div>

                                    <div class="carousel-init-wrapper" id="project-carousel2">
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/HK1.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/HK2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  -->

                    <div class="project-wrapper" id="project-wrapper-3">
                        <div class="project-header" id="textD1">
                            <span class="outer-wrapper body-content project-title">
                                <span class="body-text body-content">
                                    Ben Yuan Building<br>Shenzhen
                                </span>
                            </span>
                            <span class="outer-wrapper body-content project-location">
                                <span class="body-text body-content">
                                    <img src="/images/icons/pin-icon.svg" alt="">
                                    China
                                </span>
                            </span>
                            <span class="outer-wrapper body-content project-type">
                                <span class="body-text body-content">
                                    <img src="/images/icons/office-icon.svg" alt="">
                                    Commercial - Office
                                </span>
                            </span>
                        </div>

                        <div class="project-contents content-wrapper content-media">
                            <div class="media-content" id="mediaD2">
                                <div class="project-details">
                                    <span class="outer-wrapper body-content">
                                        <span class="body-text body-content" id="textD3">The Project is a Grade A office building located in the heart of Futian, the CBD of Shenzhen to support its economic growth and strengthen its global competitiveness.</span>
                                    </span>

                                    <span class="monty-link blue modal-control" id="anchorD4" data-target="modal-3" data-message="more">
                                        <span class="monty-link-text">Learn More</span>
                                        <span class="monty-link-chevron">
                                            <span class="chevron-wrapper">
                                                <span class="chevron"></span>
                                            </span>
                                        </span>
                                    </span>
                                </div>

                                <span class="media-overlay"></span>
                                <div class="carousel-wrapper media">

                                    <div class="carousel-more-modal" id="modal-3">
                                        <p class="carousel-more-text">
                                            The Project enjoys excellent proximity to the Shenzhen MTR Station and spectacular city views. Underpinned by the growth of technology sector, Shenzhen has the highest per capita GDP among the four tier-1 cities in Mainland China.
                                            <br><br>
                                            Tertiary industry in Futian has substantially contributed to the district’s GDP, becoming the core commercial hub of Shenzhen. Furthermore, the Government plans to further promote the development of financial services and its CBD connectivity.
                                            <br><br>
                                            We acquired one floor in this Project in Year 2005 for investment purpose, prior to the full maturity of the Futian CBD. It demonstrates Monty’s capability to foresee the changing  demographic of the area to enjoy the potential project upside with maturity of the location.
                                        </p>
                                        <span class="monty-link modal-control" id="project3-less" data-target="modal-3" data-message="less">
                                            <span class="monty-link-chevron">
                                                <span class="chevron-wrapper">
                                                    <span class="chevron left"></span>
                                                </span>
                                            </span>

                                            <span class="monty-link-text">Back</span>
                                        </span>
                                    </div>

                                    <div class="carousel-init-wrapper" id="project-carousel3">
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/SZ1.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/SZ2.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/SZ3.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="carousel-slide">
                                            <figure>
                                                <img src="/images/SZ4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section cta-section">
            <div class="section-content">
                <div class="content-wrapper content-fill content-even">

                    <a href="/projects" class="content-anchor-block" id="projects-anchor">
                        <figure>
                            <img src="/images/contact-hero.jpg" alt="">
                        </figure>

                        <div class="content-inner">
                            <span class="outer-wrapper body-content">
                                <span class="body-header body-content" id="textCTA2">Our Projects</span>
                            </span>

                            <span class="monty-link" id="anchorCTA2">
                                <span class="monty-link-text">View All</span>
                                <span class="monty-link-chevron">
                                    <span class="chevron-wrapper">
                                        <span class="chevron"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                    <a href="/contact" class="content-anchor-block" id="contact-anchor">
                        <figure>
                            <img src="/images/monty-map.jpg" alt="">
                        </figure>

                        <div class="content-inner">
                            <span class="outer-wrapper body-content">
                                <span class="body-header body-content" id="textCTA3">Contact Us</span>
                            </span>

                            <span class="monty-link blue" id="anchorCTA3">
                                <span class="monty-link-text">Reach Us</span>
                                <span class="monty-link-chevron">
                                    <span class="chevron-wrapper">
                                        <span class="chevron"></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="sideways-scrollhint blue" id="footer-sideways">
                <span class="scrollhint-underline"></span>
                <div class="scrollhint-content">
                    <span class="monty-link-chevron">
                        <span class="chevron-wrapper">
                            <span class="chevron right"></span>
                        </span>
                    </span>

                    <span class="monty-link-text">back to top</span>
                </div>
            </div>

            <div class="section-content">
                <div class="footer-left">
                    <a href="" class="footer-social" id="linkedin"><img src="/images/linkedin-logo.png" alt=""></a>
                    <p>2019 copyright Monty Group Limited</p>
                </div>

                <div class="footer-right">
                    <ul class="footer-nav">
                        <li><a href="/about" class="navLink">About Us</a></li>
                        <li><a href="/philosophy" class="navLink">Investment Philosophy</a></li>
                        <li><a href="/projects" class="navLink">Projects</a></li>
                        <li><a href="/contact" class="navLink">Contact Us</a></li>
                        <li><a href="/" class="navLink"><img src="/images/icons/monty-logo-blue.svg" class="footer-logo" alt="Monty Property"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

</body>
</html>
