@import 'global';

.wrapper {
  section.section {
    .section-content {
      &.wrapping-content {
        flex-wrap: wrap;
      }

      .content-wrapper {
        &.content-fill-100 {
          .content-wrapper {
            margin-left: auto;
            margin-bottom: 0;
          }

          .outer-wrapper {
            margin: 0 auto;
          }

          .overlap-content {
            position: absolute;
            width: 40%;
            background-color: $monty-blue;
            z-index: 1;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            margin-left: 15px;
            overflow: hidden;

            &:before {
              content: '';
              display: block;
              width: 100%;
              padding-top: 90%;
            }

            .monty-link-chevron,
            .slick-dots {
              display: none;
            }
          }
        }
      }
    }

    div.carousel-wrapper {
      &#about-context-carousel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      .carousel-slide {
        .carousel-context {
          display: flex;
          flex-flow: column nowrap;
          height: 100%;
          padding: 20px 25px;

          span {
            color: $main-white;
            font-weight: 300;

            &.context-number {
              font-weight: 600;
              font-size: 104px;
              margin-top: auto;
            }

            &.context-header {
              font-weight: 600;
              font-size: 18px;
              margin-bottom: 20px;
            }

            &.context-body {
              line-height: 1.5;
              margin-bottom: auto;
            }
          }
        }

        figure.aspect-image {
          transition: transform 8000ms ease;
        }

        &.active {
          opacity: 1;

          figure.aspect-image {
            transform: scale(1.2);
          }
        }

        span.carousel-caption {
          display: block;
          position: absolute;
          top: 25px;
          left: 25px;
          color: $main-white;
          font-size: 18px;
          font-weight: 600;
          z-index: 5;
        }
      }

      .carousel-dots-wrapper {
        top: 25px;
        bottom: initial;
      }
    }
  }

  .sideways-scrollhint {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    section.section {
      .slick-slider {
        .slick-dots {
          bottom: auto;
          top: 25px;
        }
      }

      .section-content {
        .content-wrapper {
          &.content-even {
            margin: 15px 0;
            flex-flow: row wrap;

            .content-anchor-block {
              margin: 0;
            }
          }

          &.content-fill-100.overlap-container {
            display: block;

            .overlap-content {
              position: relative;
              top: -7%;
              transform: translateX(-50%);
              left: 50%;
              margin: 0;
              width: 90%;

              &:before {
                padding-top: 140%;
              }
            }
          }
        }
      }

      &.about-section-four {
        padding-bottom: 120px;
      }
    }

    .sideways-scrollhint#footer-sideways {
      display: flex;
    }
  }
}
