@import 'global';

.wrapper {
  section.section {
    .section-content {
      padding: 80px 0 140px;

      .content-wrapper {
        display: block;
      }

      span.body-content {

        &.large-spacing {
          margin-bottom: 80px;
        }

        &.medium-spacing {
          margin-bottom: 40px;
        }

        &.heading-content {
          color: $monty-blue;
        }

        span.body-text {
          line-height: 1.3;

          &.big-spacing {
            line-height: 2.3;
          }
        }
      }
    }

    span.body-content.mobile-address{
      display: none;

      span.body-text {
        color: $monty-blue;
        font-weight: bold;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  .sideways-scrollhint {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    section.section {
      .section-content {
        .content-wrapper {
          &.aspect-ratio-box {
            order: 2;
          }
        }

        span.body-content {
          &.mobile-address{
            display: block;
          }

          &.mobile-address,
          &.large-spacing,
          &.medium-spacing {
            margin-bottom: 40px;
          }

          &.heading-content {
            margin-bottom: 10px;
          }

          .mobile-hide {
            display: none;
          }
        }
      }
    }

    .sideways-scrollhint#footer-sideways {
      display: flex;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    section.section {
      .section-content {
        padding: 0 0 50px;
      }
    }
  }
}
