@import 'global';

.wrapper {
  section.section {
    .section-content {
      padding-bottom: 180px;

      span.body-content {

        &.large-spacing {
          margin-bottom: 80px;
        }

        &.medium-spacing {
          margin-bottom: 40px;
        }

        span.body-text {
          line-height: 1.3;
        }
      }
    }
  }

  .sideways-scrollhint {
    display: none;
  }
}
