$font-stack: "Lato", sans-serif;
$main-white: #fff;
$main-black: #222;
$monty-blue: #003a70;
$monty-lightblue: #4558ba;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;
}

body.mobile-active {
  position: fixed;
  overflow: hidden;
}

.wrapper {
  width: 100%;
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

/**
 * Text styles
 */

h1 {
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 1px;
}

p {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}

span {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $main-black;
  font-weight: 300;
  letter-spacing: 1px;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure, img {
  width: 100%;
}
img {
  vertical-align: bottom;
}

/*
 * ==============================================
 *             Navigation Styles
 * ==============================================
 */
.main-navigation {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 999;
  padding: 0 80px;
  display: flex;
  transform: translateX(-50%);

  .navigation-logo-wrapper {
    display: block;
    padding: 25px 0;

    figure.heading-logo-image {
      max-width: 50px;
    }
  }

  .navigation-list-wrapper {
    display: block;
    margin: auto 0 auto auto;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        position: relative;
        text-align: center;

        a.navLink {
          position: relative;
          color: $main-white;
          font-weight: 400;
          font-size: 15px;
          transition: .2s all ease;
          padding: 43px 12px;
          border-top: 7px solid transparent;

          &:after {
            content: attr(data-hover-text);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $monty-blue;
            padding: 0 12px;
            font-size: 15px;
            font-weight: 600;
            white-space: nowrap;
            display: none;
          }

          &:hover {
            border-top-color: #fff;
          }
        }
      }
    }
  }
}

.mobile-nav-list {
  display: none;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  ul {
    height: 100%;

    li {
      height: 25%;
      background-color: #fff;
      display: flex;
      align-items: center;
    }
  }
}

/*
 * ==============================================
 *             HAMBURGER STYLE
 * ==============================================
 */

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  border: 2px solid $main-white;
  align-self: flex-start;
  margin-left: auto;
  display: none;

  .hamburger-box {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
      left: 8px;

      &:before,
      &:after {
        content: "";
        display: block;
      }

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 25px;
      height: 2px;
      background-color: $main-white;
      border-radius: 3px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
  }

}

.hamburger.hamburger--elastic {
  .hamburger-box {

    .hamburger-inner {
      top: 12px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease;
      }

      &:after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

  }

  &.mobile-active {
    .hamburger-box {
      .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s;

        &:before {
          transition-delay: 0s;
          opacity: 0;
        }

        &:after {
          transform: translate3d(0, -20px, 0) rotate(-270deg);
          transition-delay: 0.075s;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .mobile-nav-list {
    height: calc(100% - 90px);
  }

  .main-navigation {
    padding: 15px 40px;
    height: 90px;

    .navigation-list-wrapper {
      display: none;
    }

    .navigation-logo-wrapper {
      padding: 0;

      figure.heading-logo-image {
        max-width: 40px;
      }
    }
  }

  .mobile-nav-list {
    &.mobile-active {
      display: block;
    }
  }

  .hamburger {
    display: block;
  }
}

/*
 * ==============================================
 *             Section Styles
 * ==============================================
 */
.wrapper {
  section.section,
  footer.section-footer {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-left: 18px solid $monty-blue;
    border-right: 18px solid $monty-blue;

    .section-content {
      margin: 0 auto;
      position: relative;
    }
  }

  header.section-header {
    position: relative;

    &.aspect-2811 {
      .aspect-hero {
        padding-bottom: 28.11%;
      }

      .hero-content {
        top: 55%;

        h1 {
          text-transform: uppercase;
        }
      }
    }

    &.aspect-5625 {
      .aspect-hero {
        padding-bottom: 56.25%;
      }

      .hero-content {
        top: 42.5%;
      }
    }

    .aspect-hero {
      position: relative;
      width: 100%;
      background-color: #ccc;
      z-index: -1;

      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($monty-blue, .5);
        }
      }
    }

    .hero-content {
      position: absolute;
      left: 85px;
      transform: translateY(-50%);
      padding-left: 25px;
      max-width: 810px;
      min-height: 90px;
      overflow: hidden;

      span.hero-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: $main-white;
      }

      h1 {
        font-size: 26px;
        color: $main-white;
        padding-bottom: 15px;
      }

      a.monty-link {
        .monty-link-text {
          &:after{
            height: 3px;
          }
        }
      }
    }
  }

  .sideways-scrollhint {
    position: absolute;
    display: flex;
    align-items: flex-end;

    &#header-sideways {
      bottom: 7%;
    }

    &#footer-sideways {
      right: 4.1%;
      top: -183%;
      height: 300px;
    }

    .scrollhint-underline {
      height: 100%;
      background-color: $main-white;
      width: 2px;
    }

    .scrollhint-content {
      display: flex;
      align-items: flex-end;
      position: absolute;
      bottom: 60px;
      right: -40px;
      width: 161px;
      transform: rotate(-90deg);
      overflow: hidden;
      cursor: pointer;

      &:hover {
        .chevron-wrapper {
          background-color: $main-white;

          .chevron {
            border-color: $monty-blue;
          }
        }
      }
    }

    &.blue {
      &:hover {
        .chevron-wrapper {
          background-color: $monty-blue;

          .chevron {
            border-color: $main-white;
          }
        }
      }

      .scrollhint-underline {
        background-color: $monty-blue;
      }

      span.monty-link-text { color: $monty-blue; }
      .chevron-wrapper, .chevron {
        border-color: $monty-blue;
      }
    }


    span.monty-link-text {
      font-size: 13px;
      color: $main-white;
      text-transform: uppercase;
    }

    .monty-link-chevron {
      margin-right: 15px;
      height: 40px;
      width: 40px;
    }

    .chevron-wrapper {
      border-width: 3px;
    }
  }

  a.monty-link,
  span.monty-link {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 160px;
    margin: 20px 0 0;
    overflow: hidden;

    &:hover {
      .chevron-wrapper {
        background-color: $main-white;

        .chevron {
          border-color: $monty-blue;
        }
      }

      .monty-link-text:after {
        width: 100%;
        left: 0;
      }
    }

    &.blue {
      &:hover {
        .chevron-wrapper {
          background-color: $main-white;

          .chevron {
            border-color: $monty-blue;
          }
        }
      }

      .monty-link-text {
        color: $monty-blue;

        &:after {
          background-color: $monty-blue;
        }
      }

      .chevron-wrapper {
        border-color: $monty-blue;
        background-color: $monty-blue;
      }
    }

    .monty-link-text {
      position: relative;
      color: #fff;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        background-color: #fff;
        bottom: 0;
        right: 0;
        transition: 400ms all ease;
      }
    }
  }

  .monty-link-chevron {
    position: relative;
    height: 30px;
    width: 30px;

    .chevron-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 6px;
      border: 2px solid #fff;
      height: 100%;
      width: 100%;
      transition: 200ms all ease;
    }

    .chevron {
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: 10px;
      height: 10px;
      transform: rotate(-45deg);
      margin-left: -3px;
      transition: 200ms all ease;

      &.left {
        transform: rotate(-225deg);
        margin-left: 3px;
      }
    }
  }

  section.section {
    padding: 0 30px;

    .section-content {
      display: flex;
      justify-content: space-between;
      padding: 80px 0;
      max-width: 1280px;

      .content-wrapper {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 15px;

        &.centered {
          justify-content: center;
        }

        &.content-fifth {
          flex: 0 0 24%;
        }

        &.content-third {
          flex: 0 0 33.333%;
        }

        &.content-fill {
          flex-grow: 1;
        }

        &.content-media {
          overflow: hidden;
        }

        &.aspect-ratio-box {
          position: relative;
          flex: 0 0 63.4%;

          &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: calc(561 / 805 * 100%);
          }

          figure.aspect-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          div.monty-map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        & > *:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    div.carousel-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      .carousel-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 400ms opacity ease;

        figure.aspect-image {
          transition: transform 8000ms ease;
        }

        &.active {
          opacity: 1;

          figure.aspect-image {
            transform: scale(1.2);
          }
        }

        span.carousel-caption {
          display: block;
          position: absolute;
          top: 25px;
          left: 25px;
          color: $main-white;
          font-size: 18px;
          font-weight: 600;
          z-index: 5;
        }
      }

      .carousel-dots-wrapper {
        position: absolute;
        bottom: 25px;
        right: 25px;
        list-style: none;
        z-index: 5;
        display: flex;
        flex-direction: row;

        .carousel-dots {
          position: relative;
          border: 1px solid $main-white;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          margin: 0 7px;
          cursor: pointer;
          transition: 200ms all ease;

          &:hover {
            background-color: rgba($main-white, 0.7);
            transform: scale(1.3);
          }

          &.active {
            background-color: $main-white;
          }
        }
      }
    }

    div.media-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      span.media-overlay {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba($monty-lightblue, 1);
      }

      .monty-link-chevron {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        height: 100px;
        width: 100px;
        cursor: pointer;
        z-index: 1;
        transition: 300ms all ease;

        &:hover {
          transform: translateY(-50%) scale(1.1);
        }

        .chevron-wrapper {
          border-radius: 25px;
        }

        .chevron {
          height: 40px;
          width: 40px;
          margin-left: -20px;
        }
      }
    }

    span.body-content {
      display: block;

      &.outer-wrapper {
        overflow: hidden;
      }

      span.body-text {
        line-height: 1.8;
        font-weight: 300;
      }

      span.body-header {
        font-size: 26px;
        color: $monty-blue;
        font-weight: 600;
      }

      span.body-subheader {
        font-size: 18px;
        font-weight: bold;
      }

      span.link-content {
        text-decoration: underline;
      }
    }
  }

  footer.section-footer {
    padding: 20px 30px;
    padding-top: 80px;

    .section-content {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;

      .footer-left {
        display: flex;
        align-items: flex-end;

        .footer-social {
          &#linkedin {
            margin-right: 10px;
            img {
              max-width: 28px;
            }
          }
        }

        p {
          font-size: 11px;
          letter-spacing: 0;
          color: $monty-blue;
        }
      }

      .footer-right {
        display: flex;

        ul.footer-nav {
          display: flex;
          align-items: center;
          list-style: none;

          li {
            position: relative;
            text-align: center;
            margin: 0 12px;

            a {
              color: $monty-blue;
              font-weight: 400;
              font-size: 13px;
              transition: .2s all ease;

              .footer-logo {
                max-width: 120px;
              }
            }
          }
        }
      }
    }
  }
}

/*
 * ==============================================
 *             Responsive Styles
 * ==============================================
 */

@media (max-width: 768px) {
  .wrapper {
    .sideways-scrollhint {
      display: none;

      &#footer-sideways {
        z-index: 999;
        right: 7%;
        bottom: 8.5%;
        top: auto;
        height: 300px;
      }

      .scrollhint-content {}

      p {}

      .chevron-wrapper {
        margin-right: 15px;
        height: 40px;
        width: 40px;
        border-width: 3px;
      }
    }

    footer.section-footer {
      padding: 0;
      padding-top: 40px;

      .section-content {
        max-width: 1280px;

        .footer-left {
          display: none;
        }

        .footer-right {
          display: flex;

          ul.footer-nav {
            flex-direction: column;
            align-items: flex-start;

            li {
              margin: 0 12px 20px 12px;

              a {
                font-weight: 300;
                font-size: 13px;

                .footer-logo {
                  max-width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }

  .wrapper {
    section.section,
    footer.footer {
      .section-content {
        padding: 80px 0;
        margin: 0 auto;
        max-width: 1280px;
      }
    }

    header.section-header {
      .hero-content {
        max-width: 500px;
      }

      .aspect-hero {
        figure {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    section.section {
      padding: 0;

      &.section-one {
        .section-content {
          max-width: 550px;
          margin: 0 auto;
          padding: 100px 0;
        }
      }

      .section-content {
        flex-flow: row wrap;
        padding: 0;

        .content-wrapper {
          margin: 15px;
          order: 2;

          &.content-fifth {
            flex: 1 0 100%;
          }

          &.content-third {
            flex: 1 0 100%;
          }

          &.content-fill {
            flex-grow: 1;
          }

          &.aspect-ratio-box {
            flex: 0 0 100%;
            margin: 0;
            order: 1;

            &:before {
            }
          }

          &.content-text.centered {
            margin: 100px auto;
            max-width: 550px;

            span:nth-child(1) { order: 1; }
            span:nth-child(2) { order: 3; }
            a:nth-child(3) { order: 2; }
          }
        }
      }

      span.body-content {
        span.body-text {
          line-height: 1.8;
          font-weight: 300;
        }

        span.body-header {
          font-size: 24px;
        }
      }

      a.monty-link {
        font-size: 12px;
        max-width: 160px;
        margin: 5px 0 30px;

        &:hover .monty-link-text:after {
          width: 100%;
          left: 0;
        }

        &.blue {
          .monty-link-text {
            color: #000;

            &:after {
              background-color: $monty-blue;
            }
          }

          .chevron-wrapper {
            border-color: $monty-blue;
            background-color: $monty-blue;
          }
        }

        .monty-link-text {
          position: relative;
          color: #fff;

          &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            display: block;
            background-color: #fff;
            bottom: 0;
            right: 0;
            transition: width .2s ease;
            -webkit-transition: width .2s ease;
          }
        }

        .chevron-wrapper {
          position: relative;
          background-color: transparent;
          height: 30px;
          width: 30px;
          border-radius: 6px;
          border: 2px solid transparent;

          .chevron {
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            width: 10px;
            height: 10px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    section.section {
      .section-content {
        .content-wrapper {
          &.content-text.centered {
            margin: 80px 15px;
          }
        }

        div.media-content {
          .monty-link-chevron {
            width: 80px;
            height: 80px;
            right: 20px;

            .chevron-wrapper {
              border-radius: 15px;
            }
          }
        }
      }
    }

    .sideways-scrollhint {
      &#footer-sideways {
        height: 225px;
      }
    }
  }
}
