$font-stack: "Lato", sans-serif;
$main-white: #fff;
$main-black: #222;
$monty-blue: #202957;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

/**
 * Text styles
 */

h1 {
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 1px;
}

p {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $main-black;
  font-weight: 300;
  letter-spacing: 1px;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Navigation Styles
 */
.main-navigation {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1280px;
  z-index: 1;
  padding: 0 25px;
  display: flex;
  transform: translateX(-50%);

  .navigation-logo-wrapper {
    display: block;
    padding: 25px 0;

    figure.heading-logo-image {
      max-width: 50px;
    }
  }

  .navigation-list-wrapper {
    display: block;
    margin: auto 0 auto auto;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        position: relative;
        text-align: center;

        a {
          color: $main-white;
          font-weight: 400;
          font-size: 15px;
          transition: .2s all ease;
          padding: 43px 12px;
          border-top: 7px solid transparent;

          &:hover {
            border-top-color: #fff;
          }
        }
      }
    }
  }
}

/**
 * Section Styles
 */
.wrapper {
  section.section,
  footer.section-footer {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-left: 18px solid $monty-blue;
    border-right: 18px solid $monty-blue;

    .section-content {
      margin: 0 auto;
    }
  }

  header.section-header {
    position: relative;

    &.aspect-2811 {
      .aspect-hero {
        padding-bottom: 28.11%;
      }

      .hero-content {
        top: 55%;

        h1 {
          text-transform: uppercase;
        }
      }
    }

    &.aspect-5625 {
      .aspect-hero {
        padding-bottom: 56.25%;
      }

      .hero-content {
        top: 42.5%;
      }
    }

    .aspect-hero {
      position: relative;
      width: 100%;
      background-color: #ccc;
      z-index: -1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .hero-content {
      position: absolute;
      left: 80px;
      transform: translateY(-50%);
      padding-left: 25px;
      border-left: 5px solid $main-white;
      max-width: 810px;
      min-height: 90px;

      h1 {
        font-size: 26px;
        color: $main-white;
        padding-bottom: 15px;
      }

      a.monty-link {
        .monty-link-text {
          &:after{
            height: 3px;
          }
        }
      }
    }
  }

  .sideways-scrollhint {
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    border-bottom: 2px solid $main-white;
    transform: rotate(-90deg);
    cursor: pointer;
    right: -12%;
    bottom: 35%;
    width: 500px;

    &.blue {
      border-color: $monty-blue;

      p { color: $monty-blue; }
      .monty-link-chevron, .chevron {
        border-color: $monty-blue;
      }
    }


    p {
      font-size: 13px;
      color: $main-white;
      text-transform: uppercase;
    }

    .monty-link-chevron {
      margin-right: 15px;
      height: 40px;
      width: 40px;
      border-width: 3px;
    }
  }

  a.monty-link {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 160px;
    margin: 20px 0 0;

    &:hover .monty-link-text:after {
      width: 100%;
      left: 0;
    }

    &.blue {
      .monty-link-text {
        color: #000;

        &:after {
          background-color: $monty-blue;
        }
      }

      .monty-link-chevron {
        border-color: $monty-blue;
        background-color: $monty-blue;
      }
    }

    .monty-link-text {
      position: relative;
      color: #fff;

      &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        background-color: #fff;
        bottom: 0;
        right: 0;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
      }
    }
  }

  .monty-link-chevron {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: 2px solid #fff;

    .chevron {
      position: absolute;
      display: inline-block;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: 10px;
      height: 10px;
      transform: rotate(-45deg);
      margin-left: -3px;

      &.left {
        transform: rotate(-225deg);
        margin-left: 3px;
      }
    }
  }

  section.section {
    padding: 0 30px;

    .section-content {
      display: flex;
      justify-content: space-between;
      padding: 80px 0;
      max-width: 1280px;

      .content-wrapper {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 15px;

        &.centered {
          justify-content: center;
        }

        &.content-fifth {
          flex: 0 0 24%;
        }

        &.content-third {
          flex: 0 0 33.333%;
        }

        &.content-fill {
          flex-grow: 1;
        }

        &.aspect-ratio-box {
          position: relative;
          flex: 0 0 63.4%;
          background-color: #ccc;

          &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: calc(561 / 805 * 100%);
          }
        }

        & > *:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    h2 {
      font-size: 26px;
      color: $monty-blue;
      font-weight: 600;
    }

    p.body-text {
      line-height: 1.8;
      font-weight: 300;
    }
  }

  footer.section-footer {
    padding: 20px 0;

    ul.footer-nav {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        position: relative;
        text-align: center;
        margin: 0 12px;

        a {
          color: $monty-blue;
          font-weight: 400;
          font-size: 13px;
          transition: .2s all ease;

          &.navLink {
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    section.section,
    footer.footer {
      .section-content {
        padding: 80px 0;
        margin: 0 auto;
        max-width: 1280px;
      }
    }

    section.section {
      padding: 0;

      .section-content {
        flex-flow: row wrap;
        padding: 40px 0;

        .content-wrapper {
          margin: 15px;
          order: 2;

          &.content-fifth {
            flex: 1 0 100%;
          }

          &.content-third {
            flex: 1 0 100%;
          }

          &.content-fill {
            flex-grow: 1;
          }

          &.aspect-ratio-box {
            flex: 0 0 100%;
            margin: 15px 0;
            order: 1;

            &:before {
            }
          }
        }
      }

      h2 {
        font-size: 24px;
        margin-bottom: 25px;
      }

      p.body-text {
        line-height: 1.8;
        font-weight: 300;
      }

      a.monty-link {
        font-size: 12px;
        max-width: 160px;
        margin: 20px 0;

        &:hover .monty-link-text:after {
          width: 100%;
          left: 0;
        }

        &.blue {
          .monty-link-text {
            color: #000;

            &:after {
              background-color: $monty-blue;
            }
          }

          .monty-link-chevron {
            border-color: $monty-blue;
            background-color: $monty-blue;
          }
        }

        .monty-link-text {
          position: relative;
          color: #fff;

          &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            display: block;
            background-color: #fff;
            bottom: 0;
            right: 0;
            transition: width .2s ease;
            -webkit-transition: width .2s ease;
          }
        }

        .monty-link-chevron {
          position: relative;
          background-color: transparent;
          height: 30px;
          width: 30px;
          border-radius: 6px;
          border: 2px solid transparent;

          .chevron {
            display: inline-block;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            width: 10px;
            height: 10px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
