@import 'global';

.wrapper {
  section.section {
    .section-content {
      .content-wrapper {
        span.animate-1,
        figure.animate-1,
        figure.media-1:after {
          transition-delay: 0ms;
        }
        span.animate-2,
        figure.animate-2,
        figure.media-2:after {
          transition-delay: 450ms;
        }
        span.animate-3,
        figure.animate-3,
        figure.media-3:after {
          transition-delay: 900ms;
        }
      }
    }
  }

  .home-hero {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .4);
    }
  }
}
