@import 'global';

.wrapper {
  section.section {
    div.carousel-wrapper {
      .carousel-slide {
        span.carousel-caption {
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .sideways-scrollhint {
      display: flex;
      right: 43px;
      height: 270px !important;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    header.section-header {
      &.aspect-5625 {
        .aspect-hero {
          padding-bottom: 180%;

          figure {
            width: 320%;
          }
        }
      }

      .hero-content {
        left: 15px;
        padding-left: 15px;
        padding-right: 15px;

        h1 {
          font-size: 18px;
        }
      }
    }
  }
}
